.App { width: 100%; }
li {
  list-style: none;
}
@import url('https://v1.fontapi.ir/css/Vazir');
body{
  font-family: Vazir, sans-serif !important;
  
}
p,span,input,h1,h2,h3,h4,h5,h6{
   font-family: Vazir, sans-serif !important;
}
body{
  background:#ffff !important
}